table{
    border-collapse: collapse;
    width: 80%;
    border-radius: 1rem;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    backdrop-filter: blur(1rem);
    margin: 50px auto 50px auto;
}
h3{
    margin-left:10%;
}
td,th{
    text-align: left;
    padding: 10px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.nav-btn{
    
    margin: 10px 50px 10px 50px;
    text-decoration: none;
}
.nav-btn:hover{
    color: orangered;
}
.search-bar{
    margin-left: 20px;
    width: 500px;
    padding-left: 10px;
    height: 30px;
}